@model InternetBanking.Models.RegisterViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RegisterViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SBAccountNumber" class="control-label"></label>
                <input asp-for="SBAccountNumber" class="form-control" />
                <span asp-validation-for="SBAccountNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CIFNumber" class="control-label"></label>
                <input asp-for="CIFNumber" class="form-control" />
                <span asp-validation-for="CIFNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BranchCode" class="control-label"></label>
                <input asp-for="BranchCode" class="form-control" />
                <span asp-validation-for="BranchCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegisteredMobileNo" class="control-label"></label>
                <input asp-for="RegisteredMobileNo" class="form-control" />
                <span asp-validation-for="RegisteredMobileNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UStatus" class="control-label"></label>
                <input asp-for="UStatus" class="form-control" />
                <span asp-validation-for="UStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
